#header {
  a: b;
}
#header .navbar_boxed {
  a: b;
}
#header .navbar_boxed .container {
  a: b;
}
#header .navbar_boxed .container .navbar {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar_brand {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar_brand .title {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-no-collapse-items {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-no-collapse-items .nav-item {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-no-collapse-items .nav-item .searchButton {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-no-collapse-items .nav-item .searchButton .fa-search {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-collapse {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-collapse .navbar-nav {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-collapse .navbar-nav .nav-item {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-collapse .navbar-nav .nav-item a {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-collapse .navbar-nav .nav-item div {
  a: b;
}
#header .navbar_boxed .container .navbar .navbar-collapse .navbar-nav .nav-item div .fa-compact-disc {
  a: b;
}

#mainNavbarTheme {
  a: b;
}