#sidebar .__ .iconSidebar .visitor{a:b;
    .col{a:b;
        .visit-number{a:b;

        }
        .visit-title{a:b;

        }
    }
}
#sidemenu{a:b;
    .tt_category{a:b;
        li{a:b;
            .link_tit{a:b;

            }
            .category_list{a:b;
                .sidebar-title{a:b;
                    .far{a:b;

                    }
                    span{a:b;

                    }
                }
                .sub-menu{a:b;
                    .link_item{a:b;

                    }
                    .sub-menu{a:b;
                        .link_item{a:b;

                        }
                        .sub_category_list{a:b;
                            li{a:b;
                                .link_sub_item{a:b;
                                    .fal{a:b;

                                    }
                                    .c_cnt{a:b;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}