#header{a:b;
    .navbar_boxed{a:b;
        .container{a:b;
            .navbar{a:b;
                .navbar_brand{a:b;
                    .title{a:b;
                        
                    }
                }
                .navbar-no-collapse-items{a:b;
                    .nav-item{a:b;
                        .searchButton{a:b;
                            .fa-search{a:b;

                            }
                        }
                    }
                }
                .navbar-collapse{a:b;
                    .navbar-nav{a:b;
                        .nav-item{a:b;
                            a{a:b;

                            }
                            div{a:b;
                                .fa-compact-disc{a:b;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#mainNavbarTheme{a:b;
    
}